*{
    margin: 0;
    padding: 0;
}

.navbar-nav{
   font-size: 25px;
   margin-left: 20%;
  text-align: center;
  
   
}
.nav-item{
    padding: 30px;
    
}
.menu{
    text-align: center;
    margin-top: 2%;
}
.carousel-item{
    height: 42rem;
    background-color: #777;
    color: white;
    position: relative;
}
.con{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}
.pizza {
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 15px;
}
.crispy h2{
    color: chocolate;
    padding-bottom: 10px;
}
.glutten h2{
    color: chocolate;
    padding-bottom: 10px;  
}
.stuffed h2{
     color: chocolate;
    padding-bottom: 10px;
}
.price{
    display: flex;
    padding-top: 2%;
    padding-bottom: 3%;
    
}
.price .small{
    font-size: 30px;
    padding-left: 20%;
    font-style: italic;
}


.price p{
   margin-left: 30%;
   font-size: 25px;
}.glu-small{
    display: flex;
    padding-top: 2%;
    padding-bottom: 3%;   
}
.glu-small .small{
    font-size: 30px;
    padding-left: 20%;
    font-style: italic;
}   
.glu-small p{
    margin-left: 30%;
    font-size: 25px;

}.glu-medium{
    display: flex;
    padding-top: 2%;
    padding-bottom: 3%;   
}
.glu-medium .small{
    font-size: 30px;
    padding-left: 20%;
    font-style: italic;
}   
.glu-medium p{
    margin-left: 30%;
    font-size: 25px;

}.glu-small{
    display: flex;
    padding-top: 2%;
    padding-bottom: 3%;   
}
.glu-large{
    display: flex;
}
.glu-large .small{
    font-size: 30px;
    padding-left: 20%;
    font-style: italic;
}   
.glu-large p{
    margin-left: 30%;
    font-size: 25px;
}

.stu-small{
    display: flex;
}
.stu-small .small{
    font-size: 30px;
    padding-left: 20%;
    font-style: italic;
}   
.stu-small p{
    margin-left: 30%;
    font-size: 25px;
}
.stu-medium{
    display: flex;
}
.stu-medium .small{
    font-size: 30px;
    padding-left: 20%;
    font-style: italic;
}   
.stu-medium p{
    margin-left: 30%;
    font-size: 25px;
}
.stu-large{
    display: flex;
}
.stu-large .small{
    font-size: 30px;
    padding-left: 20%;
    font-style: italic;
}   
.stu-large p{
    margin-left: 30%;
    font-size: 25px;
}
.order-pizza{
    margin-top: 2%;
    text-align: center;
    
}
.favourite-pizza{
    background-color: darkgoldenrod;
    margin-top: 3%;
    color: white;
   
}
.favourite-pizza p{
    padding-top: 3%;
}
.total{
    text-align: center;
    margin-top: 3%;
}
.table th{
    font-size: 40px;
}
.table td{
    font-size: 20px;
}
.hidden{
    display: none;
}
.form-group{
    width: 500px;
    margin-left: 30%;
}